<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zom.common.dao.mapper.AuthRecordMapper">

	<!-- @author yuronghua-airson @template 2019.08.02 v11.0 @organization Zero One More, Inc. http://www.01more.com @time 2021-02-25 17:54:30 -->

	<!--====================================== 设置开始-CONFIG_BEGIN ======================================-->
	<sql id="table">rtv_auth_record</sql>
	<!-- 所有基础字段 -->
    <sql id="baseColumns">A.id AS id,A.authid AS authid,A.uid AS uid,A.corp_code AS corpCode,A.hwidtype AS hwidtype,A.hwid AS hwid,A.devicetype AS devicetype,A.ostype AS ostype,A.apptype AS apptype,A.uuid AS uuid,A.updatetime AS updatetime</sql>
	<!-- 分组  -->
	<sql id="groupBy">
		<if test="groupBy != null and groupBy !='' "> GROUP BY ${groupBy,jdbcType=VARCHAR} </if>
	</sql>
	<!-- 排序  -->
	<sql id="orderBy">
		<if test="orderBy != null and orderBy !='' ">
			<if test="selfOrder == null">ORDER BY A.${orderBy}</if>
			<if test="selfOrder != null">ORDER BY ${orderBy}</if>
		</if>
		<if test="ascOrDesc != null and ascOrDesc !='' and selfOrder == null "> ${ascOrDesc}</if>
		<if test="orderBy == null and ascOrDesc == null "> ORDER BY A.id DESC</if>
	</sql>
	<!-- 分页 -->
	<sql id="limitCount">
		<if test="count != null and count !='' "> LIMIT ${start},${count}</if>
	</sql>
	<!--====================================== 设置结束-CONFIG_FINISH ======================================-->


	<!--=@@@@@@============================= 自定义内容 开始 _@CAUTION_SELF_BEGIN@_ =============================@@@@@@=-->
	<sql id="joinColumns"></sql>
	<sql id="baseSearch"></sql>
	<sql id="joinSearch"></sql>
	<sql id="leftJoin"></sql>
	<!--=@@@@@@============================= 自定义内容 结束 _@CAUTION_SELF_FINISH@_ =============================@@@@@@=-->


	<!--====================================== 查询开始-SELECT_BEGIN ======================================-->
	<select id="load" parameterType="java.lang.Long" resultType="com.zom.common.dao.po.AuthRecord">
		SELECT <include refid="baseColumns"/> FROM <include refid="table"/> A WHERE A.id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.zom.common.dao.po.AuthRecord">
		SELECT <include refid="baseColumns"/> FROM <include refid="table"/> A WHERE A.id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByCondition" parameterType="java.util.Map" resultType="com.zom.common.dao.po.AuthRecord">
    	SELECT <include refid="baseColumns"/> <include refid="joinColumns"/> FROM <include refid="table"/> A <include refid="leftJoin"/> <where> <include refid="baseSearch"/> <include refid="joinSearch"/> </where> <include refid="orderBy"/> LIMIT 0,1
	</select>

	<select id="selectListByCondition" parameterType="java.util.Map" resultType="com.zom.common.dao.po.AuthRecord">
    	SELECT <include refid="baseColumns"/> <include refid="joinColumns"/> FROM <include refid="table"/> A <include refid="leftJoin"/> <where> <include refid="baseSearch"/> <include refid="joinSearch"/> </where> <include refid="orderBy"/> <include refid="limitCount"/>
	</select>

	<select id="selectCountByCondition" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(*) FROM <include refid="table"/> A <include refid="leftJoin"/> <where> <include refid="baseSearch"/> <include refid="joinSearch"/> </where>
	</select>
	<!--====================================== 查询结束-SELECT_FINISH ======================================-->

	<!--====================================== 修改开始-UPDATE_BEGIN ======================================-->
	<!-- <-#-if cMap_has_next>,</-#-if> -->
	<update id="updateByPrimaryKey" parameterType="com.zom.common.dao.po.AuthRecord">
	    UPDATE <include refid="table"/>
		<set>authid = #{authid,jdbcType=VARCHAR},uid = #{uid,jdbcType=BIGINT},corp_code = #{corpCode,jdbcType=VARCHAR},hwidtype = #{hwidtype,jdbcType=VARCHAR},hwid = #{hwid,jdbcType=VARCHAR},devicetype = #{devicetype,jdbcType=VARCHAR},ostype = #{ostype,jdbcType=VARCHAR},apptype = #{apptype,jdbcType=VARCHAR},uuid = #{uuid,jdbcType=VARCHAR},updatetime = #{updatetime,jdbcType=TIMESTAMP},</set>
	    WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.zom.common.dao.po.AuthRecord">
	    UPDATE <include refid="table"/>
		<set><if test="authid != null">authid = #{authid,jdbcType=VARCHAR},</if><if test="uid != null">uid = #{uid,jdbcType=BIGINT},</if><if test="corpCode != null">corp_code = #{corpCode,jdbcType=VARCHAR},</if><if test="hwidtype != null">hwidtype = #{hwidtype,jdbcType=VARCHAR},</if><if test="hwid != null">hwid = #{hwid,jdbcType=VARCHAR},</if><if test="devicetype != null">devicetype = #{devicetype,jdbcType=VARCHAR},</if><if test="ostype != null">ostype = #{ostype,jdbcType=VARCHAR},</if><if test="apptype != null">apptype = #{apptype,jdbcType=VARCHAR},</if><if test="uuid != null">uuid = #{uuid,jdbcType=VARCHAR},</if><if test="updatetime != null">updatetime = #{updatetime,jdbcType=TIMESTAMP},</if></set>
	    WHERE id = #{id,jdbcType=BIGINT}
	</update>
    <!--====================================== 修改结束-UPDATE_FINISH ======================================-->

	<!--====================================== 新增开始-INSERT_BEGIN ======================================-->
	<insert id="insert" parameterType="com.zom.common.dao.po.AuthRecord" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO <include refid="table"/>(authid,uid,corp_code,hwidtype,hwid,devicetype,ostype,apptype,uuid,updatetime)
	    VALUES( #{authid,jdbcType=VARCHAR},#{uid,jdbcType=BIGINT},#{corpCode,jdbcType=VARCHAR},#{hwidtype,jdbcType=VARCHAR},#{hwid,jdbcType=VARCHAR},#{devicetype,jdbcType=VARCHAR},#{ostype,jdbcType=VARCHAR},#{apptype,jdbcType=VARCHAR},#{uuid,jdbcType=VARCHAR},#{updatetime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertSelective" parameterType="com.zom.common.dao.po.AuthRecord" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO <include refid="table"/>
		<trim prefix="(" suffix=")" suffixOverrides=","> <if test="authid != null"> authid,</if><if test="uid != null"> uid,</if><if test="corpCode != null"> corp_code,</if><if test="hwidtype != null"> hwidtype,</if><if test="hwid != null"> hwid,</if><if test="devicetype != null"> devicetype,</if><if test="ostype != null"> ostype,</if><if test="apptype != null"> apptype,</if><if test="uuid != null"> uuid,</if><if test="updatetime != null"> updatetime,</if></trim>
		<trim prefix="values (" suffix=")" suffixOverrides=","><if test="authid != null">#{authid,jdbcType=VARCHAR},</if><if test="uid != null">#{uid,jdbcType=BIGINT},</if><if test="corpCode != null">#{corpCode,jdbcType=VARCHAR},</if><if test="hwidtype != null">#{hwidtype,jdbcType=VARCHAR},</if><if test="hwid != null">#{hwid,jdbcType=VARCHAR},</if><if test="devicetype != null">#{devicetype,jdbcType=VARCHAR},</if><if test="ostype != null">#{ostype,jdbcType=VARCHAR},</if><if test="apptype != null">#{apptype,jdbcType=VARCHAR},</if><if test="uuid != null">#{uuid,jdbcType=VARCHAR},</if><if test="updatetime != null">#{updatetime,jdbcType=TIMESTAMP},</if></trim>
	</insert>

	<insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO <include refid="table"/>(authid,uid,corp_code,hwidtype,hwid,devicetype,ostype,apptype,uuid,updatetime)
		VALUES <foreach collection="list" item="c" separator=",">(#{c.authid,jdbcType=VARCHAR},#{c.uid,jdbcType=BIGINT},#{c.corpCode,jdbcType=VARCHAR},#{c.hwidtype,jdbcType=VARCHAR},#{c.hwid,jdbcType=VARCHAR},#{c.devicetype,jdbcType=VARCHAR},#{c.ostype,jdbcType=VARCHAR},#{c.apptype,jdbcType=VARCHAR},#{c.uuid,jdbcType=VARCHAR},#{c.updatetime,jdbcType=TIMESTAMP})</foreach>
	</insert>
  	<!--====================================== 新增结束-INSERT_FINISH ======================================-->

	<!--====================================== 删除开始-DELETE_BEGIN ======================================-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
	    DELETE FROM <include refid="table"/> WHERE id = #{id,jdbcType=BIGINT}
	</delete>
	<!--====================================== 删除结束-DELETE_FINISH ======================================-->

</mapper>