<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zom.common.dao.mapper.MetroBindMapper">

	<!-- @author yuronghua-airson @template 2019.08.02 v11.0 @organization Zero One More, Inc. http://www.01more.com @time 2020-07-28 17:20:12 -->

	<!--====================================== 设置开始-CONFIG_BEGIN ======================================-->
	<sql id="table">rtv_metro_bind</sql>
	<!-- 所有基础字段 -->
    <sql id="baseColumns">A.id AS id,A.serial AS serial,A.line_num AS lineNum,A.metro_num AS metroNum,A.user_id AS userId,A.update_time AS updateTime,A.corp_id AS corpId,A.start_time AS startTime,A.bind_flag AS bindFlag</sql>
	<!-- 分组  -->
	<sql id="groupBy">
		<if test="groupBy != null and groupBy !='' "> GROUP BY ${groupBy,jdbcType=VARCHAR} </if>
	</sql>
	<!-- 排序  -->
	<sql id="orderBy">
		<if test="orderBy != null and orderBy !='' ">
			<if test="selfOrder == null">ORDER BY A.${orderBy}</if>
			<if test="selfOrder != null">ORDER BY ${orderBy}</if>
		</if>
		<if test="ascOrDesc != null and ascOrDesc !='' and selfOrder == null "> ${ascOrDesc}</if>
		<if test="orderBy == null and ascOrDesc == null "> ORDER BY A.id DESC</if>
	</sql>
	<!-- 分页 -->
	<sql id="limitCount">
		<if test="count != null and count !='' "> LIMIT ${start},${count}</if>
	</sql>
	<!--====================================== 设置结束-CONFIG_FINISH ======================================-->


	<!--=@@@@@@============================= 自定义内容 开始 _@CAUTION_SELF_BEGIN@_ =============================@@@@@@=-->
	<sql id="joinColumns"></sql>
	<sql id="baseSearch"></sql>
	<sql id="joinSearch"></sql>
	<sql id="leftJoin"></sql>
	<!--=@@@@@@============================= 自定义内容 结束 _@CAUTION_SELF_FINISH@_ =============================@@@@@@=-->


	<!--====================================== 查询开始-SELECT_BEGIN ======================================-->
	<select id="load" parameterType="java.lang.Long" resultType="com.zom.common.dao.po.MetroBind">
		SELECT <include refid="baseColumns"/> FROM <include refid="table"/> A WHERE A.id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.zom.common.dao.po.MetroBind">
		SELECT <include refid="baseColumns"/> FROM <include refid="table"/> A WHERE A.id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByCondition" parameterType="java.util.Map" resultType="com.zom.common.dao.po.MetroBind">
    	SELECT <include refid="baseColumns"/> <include refid="joinColumns"/> FROM <include refid="table"/> A <include refid="leftJoin"/> <where> <include refid="baseSearch"/> <include refid="joinSearch"/> </where> <include refid="orderBy"/> LIMIT 0,1
	</select>

	<select id="selectListByCondition" parameterType="java.util.Map" resultType="com.zom.common.dao.po.MetroBind">
    	SELECT <include refid="baseColumns"/> <include refid="joinColumns"/> FROM <include refid="table"/> A <include refid="leftJoin"/> <where> <include refid="baseSearch"/> <include refid="joinSearch"/> </where> <include refid="orderBy"/> <include refid="limitCount"/>
	</select>

	<select id="selectCountByCondition" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(*) FROM <include refid="table"/> A <include refid="leftJoin"/> <where> <include refid="baseSearch"/> <include refid="joinSearch"/> </where>
	</select>
	<!--====================================== 查询结束-SELECT_FINISH ======================================-->

	<!--====================================== 修改开始-UPDATE_BEGIN ======================================-->
	<!-- <-#-if cMap_has_next>,</-#-if> -->
	<update id="updateByPrimaryKey" parameterType="com.zom.common.dao.po.MetroBind">
	    UPDATE <include refid="table"/>
		<set>serial = #{serial,jdbcType=VARCHAR},line_num = #{lineNum,jdbcType=VARCHAR},metro_num = #{metroNum,jdbcType=VARCHAR},user_id = #{userId,jdbcType=BIGINT},update_time = #{updateTime,jdbcType=TIMESTAMP},corp_id = #{corpId,jdbcType=INTEGER},start_time = #{startTime,jdbcType=TIMESTAMP},bind_flag = #{bindFlag,jdbcType=INTEGER},</set>
	    WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.zom.common.dao.po.MetroBind">
	    UPDATE <include refid="table"/>
		<set><if test="serial != null">serial = #{serial,jdbcType=VARCHAR},</if><if test="lineNum != null">line_num = #{lineNum,jdbcType=VARCHAR},</if><if test="metroNum != null">metro_num = #{metroNum,jdbcType=VARCHAR},</if><if test="userId != null">user_id = #{userId,jdbcType=BIGINT},</if><if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if><if test="corpId != null">corp_id = #{corpId,jdbcType=INTEGER},</if><if test="startTime != null">start_time = #{startTime,jdbcType=TIMESTAMP},</if><if test="bindFlag != null">bind_flag = #{bindFlag,jdbcType=INTEGER},</if></set>
	    WHERE id = #{id,jdbcType=BIGINT}
	</update>
    <!--====================================== 修改结束-UPDATE_FINISH ======================================-->

	<!--====================================== 新增开始-INSERT_BEGIN ======================================-->
	<insert id="insert" parameterType="com.zom.common.dao.po.MetroBind" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO <include refid="table"/>(serial,line_num,metro_num,user_id,update_time,corp_id,start_time,bind_flag)
	    VALUES( #{serial,jdbcType=VARCHAR},#{lineNum,jdbcType=VARCHAR},#{metroNum,jdbcType=VARCHAR},#{userId,jdbcType=BIGINT},#{updateTime,jdbcType=TIMESTAMP},#{corpId,jdbcType=INTEGER},#{startTime,jdbcType=TIMESTAMP},#{bindFlag,jdbcType=INTEGER})
	</insert>

	<insert id="insertSelective" parameterType="com.zom.common.dao.po.MetroBind" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO <include refid="table"/>
		<trim prefix="(" suffix=")" suffixOverrides=","> <if test="serial != null"> serial,</if><if test="lineNum != null"> line_num,</if><if test="metroNum != null"> metro_num,</if><if test="userId != null"> user_id,</if><if test="updateTime != null"> update_time,</if><if test="corpId != null"> corp_id,</if><if test="startTime != null"> start_time,</if><if test="bindFlag != null"> bind_flag,</if></trim>
		<trim prefix="values (" suffix=")" suffixOverrides=","><if test="serial != null">#{serial,jdbcType=VARCHAR},</if><if test="lineNum != null">#{lineNum,jdbcType=VARCHAR},</if><if test="metroNum != null">#{metroNum,jdbcType=VARCHAR},</if><if test="userId != null">#{userId,jdbcType=BIGINT},</if><if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if><if test="corpId != null">#{corpId,jdbcType=INTEGER},</if><if test="startTime != null">#{startTime,jdbcType=TIMESTAMP},</if><if test="bindFlag != null">#{bindFlag,jdbcType=INTEGER},</if></trim>
	</insert>

	<insert id="insertBatch">
		INSERT INTO <include refid="table"/>(serial,line_num,metro_num,user_id,update_time,corp_id,start_time,bind_flag)
		VALUES <foreach collection="list" item="c" separator=",">(#{c.serial,jdbcType=VARCHAR},#{c.lineNum,jdbcType=VARCHAR},#{c.metroNum,jdbcType=VARCHAR},#{c.userId,jdbcType=BIGINT},#{c.updateTime,jdbcType=TIMESTAMP},#{c.corpId,jdbcType=INTEGER},#{c.startTime,jdbcType=TIMESTAMP},#{c.bindFlag,jdbcType=INTEGER})</foreach>
	</insert>
  	<!--====================================== 新增结束-INSERT_FINISH ======================================-->

	<!--====================================== 删除开始-DELETE_BEGIN ======================================-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
	    DELETE FROM <include refid="table"/> WHERE id = #{id,jdbcType=BIGINT}
	</delete>
	<!--====================================== 删除结束-DELETE_FINISH ======================================-->

</mapper>