<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zom.common.dao.mapper.TechLoginLogMapper">

	<!-- @author yuronghua-airson @template 2019.08.02 v11.0 @organization Zero One More, Inc. http://www.01more.com @time 2019-12-13 17:56:27 -->

	<!--====================================== 设置开始-CONFIG_BEGIN ======================================-->
	<sql id="table">tech_login_log</sql>
	<!-- 所有基础字段 -->
    <sql id="baseColumns">A.id AS id,A.user_id AS userId,A.user_name AS userName,A.account AS account,A.login_ip AS loginIp,A.login_time AS loginTime</sql>
	<!-- 分组  -->
	<sql id="groupBy">
		<if test="groupBy != null and groupBy !='' "> GROUP BY ${groupBy,jdbcType=VARCHAR} </if>
	</sql>
	<!-- 排序  -->
	<sql id="orderBy">
		<if test="orderBy != null and orderBy !='' ">
			<if test="selfOrder == null">ORDER BY A.${orderBy}</if>
			<if test="selfOrder != null">ORDER BY ${orderBy}</if>
		</if>
		<if test="ascOrDesc != null and ascOrDesc !='' and selfOrder == null "> ${ascOrDesc}</if>
		<if test="orderBy == null and ascOrDesc == null "> ORDER BY A.id DESC</if>
	</sql>
	<!-- 分页 -->
	<sql id="limitCount">
		<if test="count != null and count !='' "> LIMIT ${start},${count}</if>
	</sql>
	<!--====================================== 设置结束-CONFIG_FINISH ======================================-->


	<!--=@@@@@@============================= 自定义内容 开始 _@CAUTION_SELF_BEGIN@_ =============================@@@@@@=-->
	<sql id="joinColumns"></sql>
	<sql id="baseSearch"></sql>
	<sql id="joinSearch"></sql>
	<sql id="leftJoin"></sql>
	<!--=@@@@@@============================= 自定义内容 结束 _@CAUTION_SELF_FINISH@_ =============================@@@@@@=-->


	<!--====================================== 查询开始-SELECT_BEGIN ======================================-->
	<select id="load" parameterType="java.lang.Long" resultType="com.zom.common.dao.po.TechLoginLog">
		SELECT <include refid="baseColumns"/> FROM <include refid="table"/> A WHERE A.id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.zom.common.dao.po.TechLoginLog">
		SELECT <include refid="baseColumns"/> FROM <include refid="table"/> A WHERE A.id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByCondition" parameterType="java.util.Map" resultType="com.zom.common.dao.po.TechLoginLog">
    	SELECT <include refid="baseColumns"/> <include refid="joinColumns"/> FROM <include refid="table"/> A <include refid="leftJoin"/> <where> <include refid="baseSearch"/> <include refid="joinSearch"/> </where> <include refid="orderBy"/> LIMIT 0,1
	</select>

	<select id="selectListByCondition" parameterType="java.util.Map" resultType="com.zom.common.dao.po.TechLoginLog">
    	SELECT <include refid="baseColumns"/> <include refid="joinColumns"/> FROM <include refid="table"/> A <include refid="leftJoin"/> <where> <include refid="baseSearch"/> <include refid="joinSearch"/> </where> <include refid="orderBy"/> <include refid="limitCount"/>
	</select>

	<select id="selectCountByCondition" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(*) FROM <include refid="table"/> A <include refid="leftJoin"/> <where> <include refid="baseSearch"/> <include refid="joinSearch"/> </where>
	</select>
	<!--====================================== 查询结束-SELECT_FINISH ======================================-->

	<!--====================================== 修改开始-UPDATE_BEGIN ======================================-->
	<!-- <-#-if cMap_has_next>,</-#-if> -->
	<update id="updateByPrimaryKey" parameterType="com.zom.common.dao.po.TechLoginLog">
	    UPDATE <include refid="table"/>
		<set>user_id = #{userId,jdbcType=BIGINT},user_name = #{userName,jdbcType=VARCHAR},account = #{account,jdbcType=VARCHAR},login_ip = #{loginIp,jdbcType=VARCHAR},login_time = #{loginTime,jdbcType=TIMESTAMP},</set>
	    WHERE id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.zom.common.dao.po.TechLoginLog">
	    UPDATE <include refid="table"/>
		<set><if test="userId != null">user_id = #{userId,jdbcType=BIGINT},</if><if test="userName != null">user_name = #{userName,jdbcType=VARCHAR},</if><if test="account != null">account = #{account,jdbcType=VARCHAR},</if><if test="loginIp != null">login_ip = #{loginIp,jdbcType=VARCHAR},</if><if test="loginTime != null">login_time = #{loginTime,jdbcType=TIMESTAMP},</if></set>
	    WHERE id = #{id,jdbcType=BIGINT}
	</update>
    <!--====================================== 修改结束-UPDATE_FINISH ======================================-->

	<!--====================================== 新增开始-INSERT_BEGIN ======================================-->
	<insert id="insert" parameterType="com.zom.common.dao.po.TechLoginLog" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO <include refid="table"/>(user_id,user_name,account,login_ip,login_time)
	    VALUES( #{userId,jdbcType=BIGINT},#{userName,jdbcType=VARCHAR},#{account,jdbcType=VARCHAR},#{loginIp,jdbcType=VARCHAR},#{loginTime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertSelective" parameterType="com.zom.common.dao.po.TechLoginLog" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO <include refid="table"/>
		<trim prefix="(" suffix=")" suffixOverrides=","> <if test="userId != null"> user_id,</if><if test="userName != null"> user_name,</if><if test="account != null"> account,</if><if test="loginIp != null"> login_ip,</if><if test="loginTime != null"> login_time,</if></trim>
		<trim prefix="values (" suffix=")" suffixOverrides=","><if test="userId != null">#{userId,jdbcType=BIGINT},</if><if test="userName != null">#{userName,jdbcType=VARCHAR},</if><if test="account != null">#{account,jdbcType=VARCHAR},</if><if test="loginIp != null">#{loginIp,jdbcType=VARCHAR},</if><if test="loginTime != null">#{loginTime,jdbcType=TIMESTAMP},</if></trim>
	</insert>

	<insert id="insertBatch">
		INSERT INTO <include refid="table"/>(user_id,user_name,account,login_ip,login_time)
		VALUES <foreach collection="list" item="c" separator=",">(#{c.userId,jdbcType=BIGINT},#{c.userName,jdbcType=VARCHAR},#{c.account,jdbcType=VARCHAR},#{c.loginIp,jdbcType=VARCHAR},#{c.loginTime,jdbcType=TIMESTAMP})</foreach>
	</insert>
  	<!--====================================== 新增结束-INSERT_FINISH ======================================-->

	<!--====================================== 删除开始-DELETE_BEGIN ======================================-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
	    DELETE FROM <include refid="table"/> WHERE id = #{id,jdbcType=BIGINT}
	</delete>
	<!--====================================== 删除结束-DELETE_FINISH ======================================-->

</mapper>